<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-12">
            <div class="card">
                <div class="container">
                    <h1 class="text-center">Modifier une tâche</h1>

                    <form action="">
                        <div class="row">
                            <div class="offset-1 col">
                                <label for="nom">Nom du tâche:</label>
                            </div>
                            <div class="offset-1 col-10">
                                <input type="text" placeholder="Nom du projet" name="nom" id="nom" value="{{ tache.nom }}">
                            </div>
                            <div class="offset-1 col">
                                <label for="desc">Description:</label>
                            </div>
                            <div class="offset-1 col-10">
                                <textarea placeholder="Description" name="description" id="desc" value="{{ tache.description }}"></textarea>
                            </div>
                            <div class="offset-1 col">
                                <label for="date">Date:</label>
                            </div>
                            <div class="offset-1 col-10">
                                <input type="date" name="date" id="date" value="{{ tache.date }}">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <button type="submit" class="btn btn-lg btn-block" (click)="modifier()">Modify Tâche</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>